<html>
<head>
	<title>Danny and Milo</title>
</head>
<body>

<div id="content_container" class="content">
	<script>

	var text = "<h1 id=\"intro\">Listen, dear reader.<br><br> Listen carefully, but bravely.<br><br>For this tale will only be told to those who still<br> imagine of something extraordinary......</h1>";
	var firstPic = "<img src=\"http://i1301.photobucket.com/albums/ag119/jabattack1/radioflyer_zps5eetxhte.jpg\" id='radioflyer' class='animated fadeIn'></img>";

	$('#content_container').empty();
	$('#content_container').append(text);
	$('#content_container').append(firstPic);
	</script>
</div>

<div id="content" class="content">
</div>

</body>
</html>