<!DOCTYPE html>
<html>
<head>
  <title>Danny and Milo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id='menu-bar' class="list">
<a href="/" id="snow" class='animated bounceIn' onClick="snow_onClick();return false;">Snow</a><a href="/" id="about" class='animated bounceIn' onClick="about_onClick();return false;">About</a><a href="/" id="resume" class='animated bounceIn' onClick="resume_onClick();return false;">Résumé</a><a href="/" id="contact" class='animated bounceIn' onClick="contact_onClick();return false;">Contact</a>
<a href="/" id="project" class='animated bounceIn' onClick="project_onClick();return false;">Projects</a>
</div>

<%= yield %>

</body>
</html>
