<!DOCTYPE html>
<html>
<head>
  <title>Milo and Danny</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<link rel="stylesheet" href="animate.min.css">
<link href="//fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Cabin" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Allan:bold" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Cardo" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Lekton" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Molengo" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Corben:bold" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Arvo" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Bangers" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Belleza" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Allura" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
<link rel="shortcut icon" href="http://i1301.photobucket.com/albums/ag119/jabattack1/DannyPainting_zpsojhtmhs6.jpg">
<body>
<div id='banner' class='animated slideInDown'>

<a href="/" class='animated fadeIn' onClick="home();return false;">
<h1 id='title1' class='animated fadeIn'>The Untold Tales of</h1>
<h1 id='title2'class='animated lightSpeedIn'><span id="m">M</span><span id="i">i</span><span id="l">l</span><span id="o">o</span> <span id="a1">a</span><span id="n1">n</span><span id="d1">d</span> <span id="d2">D</span><span id="a2">a</span><span id="n2">n</span><span id="n3">n</span><span id="y">y</span></h1>
<h1 id='title3' class='animated fadeIn'>The Lost <span id="princess">Princess</span></h1>
</a>


<div id='menu-bar' class="list">
<a href="/" id="TheBook" class='animated fadeIn' onClick="theBook();return false;">The Book</a><a href="/" id="Author" class='animated fadeIn' onClick="author();return false;">Author</a><a href="/" id="Gallery" class='animated fadeIn' onClick="gallery();return false;">Gallery</a><a href="/" id="Contact" class='animated fadeIn' onClick="contact();return false;">Contact</a>
<!-- <a href="/" id="project" class='animated bounceIn' onClick="project_onClick();return false;">Projects</a> -->
</div>
<div id="rights">
  <h6 id="copyright">© 2015 Paul Ethan Hahn. All Rights Reserved.</h6>
  <h6 id="cred">Website Design By Peter Hahn</h6>
</div>
</div>

<%= yield %>

</body>
</html>
